<!doctype html>

<!--
    
    So you'd like to know how to use impress.js?
    
    You've made the first, very important step - you're reading the source code.
    And that's how impress.js presentations are built - with HTML and CSS code.
    
    Believe me, you need quite decent HTML and CSS skills to be able to use impress.js effectively.
    And what is even more important, you need to be a designer, too, because there are no default
    styles for impress.js presentations, there is no default or automatic layout for them.
    
    You need to design and build it by hand.
    
    So...
    
    Would you still like to know how to use impress.js?
    
-->

<html lang="en" ng-app="impressModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=800" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Building SPAs with AngularJS | by Herson Alfaro | Seminar Presentation Feb. 14th 2013 | </title>
    
    <meta name="description" content="AngularJS is a Javascript framework used to make Single Page Applications (SPAs) that are CRUD-driven." />
    <meta name="author" content="Herson Alfaro" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <!--
        
        Impress.js doesn't depend on any external stylesheet. Script adds all styles it needs for
        presentation to work.
        
        This style below contains styles only for demo presentation. Browse it to see how impress.js
        classes are used to style presentation steps, or how to apply fallback styles, but I don't want
        you to use them directly in your presentation.
        
        Be creative, build your own. We don't really want all impress.js presentations to look the same,
        do we?
        
        When creating your own presentation get rid of this file. Start from scratch, it's fun!
        
    -->
    <link href="css/impress-demo.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <script src="js/prefixfree.js"></script>
</head>

<!--
    
    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.
    
    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.
    
    When impress.js script detects that browser supports all required features, this class name will
    be removed.
    
    The class name on body element also depends on currently active presentation step. More details about
    it can be found later, when `hint` element is being described.
    
-->
<body class="impress-not-supported">

<!--
    For example this fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<!--
    
    Now that's the core element used by impress.js.
    
    That's the wrapper for your presentation steps. In this element all the impress.js magic happens.
    It doesn't have to be a `<div>`. Only `id` is important here as that's how the script find it.
    
    You probably won't need it now, but there are some configuration options that can be set on this element.
    
    To change the duration of the transition between slides use `data-transition-duration="2000"` giving it
    a number of ms. It defaults to 1000 (1s).
    
    You can also control the perspective with `data-perspective="500"` giving it a number of pixels.
    It defaults to 1000. You can set it to 0 if you don't want any 3D effects.
    If you are willing to change this value make sure you understand how CSS perspective works:
    https://developer.mozilla.org/en/CSS/perspective
    
    But as I said, you won't need it for now, so don't worry - there are some simple but interesing things
    right around the corner of this tag ;)
    
-->
<div id="impress">
   <div id="title" class="step" data-x="0" data-y="0" data-z="-2000"  data-rotate="0" data-scale="1">
    <h1>
        <span class="short">Building</span>
        <span class="css">SPAs</span><span class="transforms">with</span>
        <span class="d3"><img src="http://angularjs.org/img/AngularJS-large.png"/></span>
    </h1>
    <span class="author">
        <br>
        <i>by</i><br/>
        <span class="name">Herson Alfaro</span> 
        <!--<a class="cognifide" ><img src="http://angularjs.org/img/AngularJS-large.png"/></a>-->
    </span>

</div>
<!--
    <div name="scalabeElement" class="step" data-x="0" data-y="-10000" data-scale="1">
        <div class="center" >
            <img src="http://angularjs.org/img/AngularJS-large.png"/>
            <h3 class="positioning">&amp;</h3>
            <h1 >Single Page Applications <b class="upscaling">(SPAs)</b></h1>
        </div>
    </div>
    <div name="threeD" class="step" data-x="0" data-y="1000" data-z="-100" data-rotate-x="-40" data-rotate-y="0" data-scale="2">
        <p><span class="back">Brought</span> <span class="front">to</span> <span class="back">you</span> <span class="back10">by</span> 
            <span class="backfront">Herson Alfaro</span>
        </p>
    </div>-->
    
    <div name="scalabeElement" class="step" data-x="0" data-y="2000"  data-rotate="0" data-scale="1">
        <div class="center">
            <h2><span class="downscaling"> What is</span> AngularJS<b class="bouncing">?</b></h2>
        </div>
    </div>

    <div class="step" data-x="0"  data-y="2200" data-z="2000" data-rotate="0" data-scale="1">
        <div class="center">
            <p>It's HTML, JavaScript, CSS enhanced for <strong>web apps</strong>.</p>
        </div>
    </div>
    <div class="step" data-x="0" data-rotate-y="90" data-y="2200" data-z="2000" data-rotate="0" data-scale="1">
        <div class="center">
            <h1><b>Extend HTML</b></h1>
            <p>"It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly."</p>
            <blockquote>[1]</bockqoute>
        </div>
    </div>
    <div class="step" data-x="0" data-rotate-x="90" data-y="2200" data-z="2000" data-rotate="0" data-scale="1">
        <div class="center">
            <h1><b>Client-side powered</b></h1>
            <p>"And it all happens in JavaScript within the browser, making it an ideal partner with any server technology.”</p>
            <blockquote>[1]</blockqoute>
        </div>
    </div>

    <div name="scalabeElement" class="step" data-x="0" data-y="4000"  data-rotate="0" data-scale="1">
        <div class="center">
            <h2><span> What are</span> SPAs<b class="bouncing">?</b></h2>
        </div>
    </div>
    <div class="step" data-x="0" data-z="1000"  data-y="4500"  data-rotate="0" data-scale="1">
        <div class="center">
            <p>"Single-Page Applications (SPAs) are Web apps that load a single HTML page and dynamically update that page as the user interacts with the app.”</p>            
        </div><blockquote>[2]</bockqoute>
    </div>
     <div  class="step" data-x="0" data-rotate-y="90" data-y="4500" data-rotate="0" data-scale="1">
        <div class="center">
            <h2>General Architecture of SPAs</h2>
            <img src="http://i.msdn.microsoft.com/dn463786.Wasson_Figure2_hires(en-us,MSDN.10).png"/>
            [2]
        </div>
    </div>
    

    <div  class="step" data-x="0" data-y="6000" data-z="0" data-scale="1">
        <div class="center"  ng-controller="httpController">
            <b class="upscaling" ><h1>MVC in AngularJS</h1>
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-show="codeHolder" style="font-size:16px"><script src="https://gist.github.com/hersoncr/8929573.js"></script></div>
            <div ng-hide="codeHolder"><img src="http://docs.angularjs.org/img/tutorial/tutorial_02.png"/></b> </div>
            <blockquote>[3]</qoute>            
        </div>
    </div>


<!--  to do -->
     <div  class="step" data-x="0" data-y="14000" data-z="10000" data-scale="1" >
        <div class="center" ng-controller="httpController">
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-hide="codeHolder">
            <h1>Modules</h1> 
                <tab-list-item>Module API</tab-list-item>
                <tab-list-item>Run and config blocks</tab-list-item> 
                <tab-list-item>Asynchronous loading</tab-list-item> 
            </div>
            <div ng-show="codeHolder" style="font-size:28px"><script src="https://gist.github.com/hersoncr/8969377.js"></script></div>
        </div>
    </div>
    <div  class="step" data-x="0" data-y="14000" data-z="8000" data-rotate-y="180" data-scale="1" >
        <div class="center" ng-controller="httpController">
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-hide="codeHolder"><h1>$scope <br/> The <i>glue</i> for the View and Controller</h1> 
            <img src="glue.png" width="60%" height="60%"/></div>
            <div ng-show="codeHolder" style="font-size:12px"><script src="https://gist.github.com/hersoncr/8930543.js"></script></div>
        </div>
    </div>
    <div  class="step" data-x="0" data-y="14000" data-z="2000"  data-rotate-y="0" data-scale="1">
        <div class="center" ng-controller="httpController" >
            <h1><b>Controllers</b></h1>            
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-hide="codeHolder" style="font-size:36px" > Augment the Angular Scope<br/>Intended purposes: 
                <tab-list-item>To setup initial state of a $scope object and</tab-list-item>  
                <tab-list-item>Extend behavior to a $scope object</tab-list-item>  
                <tab-list-item>Controller prototypical inheritance</tab-list-item>
            </div>
            <div ng-show="codeHolder" style="font-size:16px"><script src="https://gist.github.com/hersoncr/8930663.js"></script></div>
        </div>  
    </div>
    <div class="step"  data-x="0" data-y="14000" data-z="-12000"   data-rotate-y="90" data-scale="1" ng-controller="httpController">
        <div class="center" ng-controller="demoController" >
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-show="codeHolder" style="font-size:16px"><script src="https://gist.github.com/hersoncr/8931053.js"></script></div>
            <div ng-hide="codeHolder">
                <h1>Directives: extend HTML!</h1>
                <input type="text" ng-model="passage" placeholder="Enter Passage" />
                <input type="text" ng-show="passage" ng-model="search" placeholder="Enter Search criteria" />
                <button ng-show="passage" ng-click="showPassage(passage)">Download and show verse</button>
                <div ng-show="verse" style="font-size:16px"> <tab-list-item ng-repeat='line in (verse.split("\n")| filter:search | limitTo:3 )'>{{line}}</tab-list-item></div>
    
                <div ng-show="isLoading"><img size="25px" src="http://0-media-cdn.foolz.us/ffuuka/board/gd/image/1389/31/1389311265704.gif"/></div>
                  
            </div>
        </div>
    </div>
    <div class="step"  data-x="0" data-y="14000" data-z="4000"   data-rotate-y="90" data-scale="1">
        <div class="center" >
            Built-in directives:
                <tab-list-item>ngRepeat</tab-list-item>
                <tab-list-item>ngShow</tab-list-item>
                <tab-list-item>ngModel</tab-list-item>
                <tab-list-item>ngBind</tab-list-item>
            Custom directives: 
                <div style="font-size:20px"><script src="https://gist.github.com/hersoncr/8931632.js"></script></div>          
        </div>
    </div>

    
    <div  class="step" data-x="0" data-y="14000" data-z="2000"  data-rotate-y="270" data-scale="1">
        <div class="center" ng-controller="httpController"> 
            <button ng-click="showCode()">{{toggle}} code</button>
            <div ng-show="codeHolder" style="font-size:36px" > <script src="https://gist.github.com/hersoncr/8931693.js"></script> </div>
            <div ng-hide="codeHolder">
                <h2><strong>Data-Binding</strong></h2>
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <p ng-show="yourName">Hello, <strong >{{yourName}}</strong>!</p>    
            </div>
        </div>
    </div>
    
     <div  class="step" data-x="0" data-y="18000" data-z="8000" data-scale="1" data-rotate-y="360" >
        <div class="center" >
            <h1>Expressions</h1>
            <tab-list-item>Attribute Evaluation</tab-list-item><!--: evaluation of all properties are against the scope doing the evaluation, unlike in JavaScript where the expressions are evaluated against the global window.-->

            <tab-list-item>Forgiving</tab-list-item><!--: expression evaluation is forgiving to undefined and null, unlike in JavaScript, where trying to evaluate undefined properties can generate ReferenceError or TypeError.-->

            <tab-list-item>No Control Flow Statements</tab-list-item> <!--: you cannot do any of the following in angular expression: conditionals, loops, or throw. -->    
            [4]        
        </div>
    </div>
    <div  class="step" data-x="0" data-y="18000" data-z="2000"  data-rotate-y="90" data-scale="1">
        <div class="center" >
            <h1>Filters</h1>
            <tab-list-item>Format Data</tab-list-item>
            <tab-list-item>Pipeline Filters</tab-list-item> 
            <tab-list-item>Built-in: currency, filter...</tab-list-item> 
            <tab-list-item>Custom filters </tab-list-item>
            <tab-list-item>usage: { { expression | filter } }</tab-list-item> 
        </div>
    </div>
    <div  class="step" data-x="0" data-y="18000" data-z="2000" data-scale="1" data-rotate-y="180" >
        <div class="center" ng-controller="httpController">
            <div ng-hide="codeHolder">
                <h1>Services</h1>  
                <tab-list-item>Keep data persistently during the app's lifetime</tab-list-item>
                <tab-list-item>They are singleton objects</tab-list-item>
                <tab-list-item>Built-in: $http, $q ...</tab-list-item>
                <tab-list-item>Custom: factory, service and provider</tab-list-item>
                [6] 
            </div>
            <button ng-click="showCode()">{{ toggle }} code</button>
            <div ng-show="codeHolder" style="font-size:16px"> <script src="https://gist.github.com/hersoncr/8931958.js"></script></div>
        </div>
    </div> 
    <div  class="step" data-x="0" data-y="18000" data-z="8000" data-scale="1" data-rotate-y="270" >
        <div class="center" ng-controller="httpController">
            <div ng-hide="codeHolder">
                <h1>$http</h1> 
                <tab-list-item>Facilitates communication with the remote HTTP servers</tab-list-item>
                <tab-list-item>Automatic transformation of requests and responses</tab-list-item>
            </div> 
            <button ng-click="showCode()">{{ toggle }} code</button>
            <div ng-show="codeHolder" style="font-size:26px"> <script src="https://gist.github.com/hersoncr/8923117.js"></script></div>      
        </div>
    </div>
     <div  class="step" data-x="0" data-y="18000" data-z="-8000" data-scale="1" data-rotate-y="270" >
        <div class="center" ng-controller="httpController">
            <div ng-hide="codeHolder">
                <h1>Promises</h1>
                <tab-list-item>Resolve values in an asynchronous way</tab-list-item>
                <tab-list-item>Solves the <i>callback</i> <span style="color:red">Hell</span></tab-list-item>
                <tab-list-item>Resolve or reject</tab-list-item>
                [5]
            </div>
            <button ng-click="showCode()">{{ toggle }} code</button>
            <div ng-show="codeHolder" style="font-size:16px"> <script src="https://gist.github.com/hersoncr/8932147.js"></script></div>   
        </div>
        
    </div>
    <!--
    <div  class="step" data-x="0" data-y="18000" data-z="-16000" data-scale="1" data-rotate-y="270" >
        <div class="center"  >
            <h1>Promises continued.</h1>
            <tab-list-item>Chainable through <i>Then's</i> </tab-list-item>
            <tab-list-item>Sequential calling of functions</tab-list-item>
            <tab-list-item>Errors can be propagated through</tab-list-item>
            <tab-list-item>Easier to read and understand</tab-list-item>
        </div>
        
    </div>
    -->
    <div name="scalabeElement" class="step" data-x="0" data-y="-10000" data-scale="1">
        <div class="center" >
            <h1 >Conclusion</h1>
        </div>
    </div>
    <div name="threeD" class="step" data-x="0" data-y="-9700" data-z="-100" data-rotate-x="-40" data-rotate-y="0" data-scale="2">
        <p><span class="back">So,</span> <span class="front">Are</span> <span class="back">there</span> <span class="back10">any</span> 
            <span class="backfront">Questions?</span>
        </p>
    </div>
    <div style="font-size:26px" class="step" data-x="0" data-y="0" data-z="-8000" data-scale="1" data-rotate-y="270" >
        <div class="center"  >
            <h1>References</h1>
            <tab-list-item>[1] Google. (2012) AngularJS. [Online]. 
                http://docs.angularjs.org/guide/introduction</tab-list-item>
            <tab-list-item>[2] Microsoft. (2013) AngularJS. [Online].
                http://msdn.microsoft.com/en-us/magazine/dn463786.aspx</tab-list-item>
            <tab-list-item>[3] Google. (2012) AngularJS. [Online]. 
                http://docs.angularjs.org/tutorial/step_02</tab-list-item>
            <tab-list-item>[4] Google. (2012, August) Developer Guide, Expression. [Online].
                http://docs.angularjs.org/guide/expression</tab-list-item>
            <tab-list-item>[5] Brad Green and Shyam Seshadri, AngularJS. Sebastopol, California, United States of America: O’Reilly Media, Inc., 2013.</tab-list-item>
            <tab-list-item>[5] Ari Lerner, Ng-Book - the Complete Book On Angularjs. London: Fullstack io, 2013.</tab-list-item>

        </div>
    </div>


<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>

<!--
    
    Last, but not least.
    
    To make all described above really work, you need to include impress.js in the page.
    I strongly encourage to minify it first.
    
    In here I just include full source of the script to make it more readable.
    
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document. Not only because it's a good practice, but also
    because it should be done when the whole document is ready.
    Of course you can wrap it in any kind of "DOM ready" event, but I was too lazy to do so ;)
    
-->
<script src="js/impress.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>

<script>
var app = angular.module('impressModule', []);
app.controller('demoController',function($scope,$http){
    $scope.isLoading = false;

    $scope.showPassage = function(passage){
        $scope.isLoading = true;

        $http({method: 'GET', url: "http://api.biblia.com/v1/bible/content/LEB.json?passage="+passage+"&key=fd37d8f28e95d3be8cb4fbc37e15e18e"}).
          success(function(data, status, headers, config) {
            // this callback will be called asynchronously
            // when the response is available
             
            $scope.verse = data.text;
            $scope.isLoading = false;
          }).
          error(function(data, status, headers, config) {
            // called asynchronously if an error occurs
            // or server returns response with an error status.
            $scope.verse = data;
            $scope.isLoading = false;
          });
  }
});
app.controller('httpController',function($scope,$http){
    $scope.codeHolder = false;
    $scope.toggle = "Show";
    $scope.showCode = function(){
        $scope.codeHolder = !$scope.codeHolder;
        if(!$scope.codeHolder)
        {
            $scope.toggle = "Show";
        }else
        {
            $scope.toggle = "Hide";
        }
        
  }
});
app.directive('tabListItem',function(){
     return {
        restrict: 'EA',
        template: '<li style="padding: 0 40px" ng-transclude></li>',
        replace: true,
        transclude: true        
  }

});
impress().init();

</script>

<!--
    
    The `impress()` function also gives you access to the API that controls the presentation.
    
    Just store the result of the call:
    
        var api = impress();
    
    and you will get three functions you can call:
    
        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.
    
    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.
    
    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.
    
-->

</body>
</html>

<!--
    
    Now you know more or less everything you need to build your first impress.js presentation, but before
    you start...
    
    Oh, you've already cloned the code from GitHub?
    
    You have it open in text editor?
    
    Stop right there!
    
    That's not how you create awesome presentations. This is only a code. Implementation of the idea that
    first needs to grow in your mind.
    
    So if you want to build great presentation take a pencil and piece of paper. And turn off the computer.
    
    Sketch, draw and write. Brainstorm your ideas on a paper. Try to build a mind-map of what you'd like
    to present. It will get you closer and closer to the layout you'll build later with impress.js.
    
    Get back to the code only when you have your presentation ready on a paper. It doesn't make sense to do
    it earlier, because you'll only waste your time fighting with positioning of useless points.
    
    If you think I'm crazy, please put your hands on a book called "Presentation Zen". It's all about 
    creating awesome and engaging presentations.
    
    Think about it. 'Cause impress.js may not help you, if you have nothing interesting to say.
    
-->

<!--
    
    Are you still reading this?
    
    For real?
    
    I'm impressed! Feel free to let me know that you got that far (I'm @bartaz on Twitter), 'cause I'd like
    to congratulate you personally :)
    
    But you don't have to do it now. Take my advice and take some time off. Make yourself a cup of coffee, tea,
    or anything you like to drink. And raise a glass for me ;)
    
    Cheers!
    
-->

